h2{
    font-family: 'Russo One', sans-serif;
    
}
a{
    font-size: larger;
}
body{
    /* background-image: url("https://img.freepik.com/free-photo/abstract-luxury-blur-dark-grey-black-gradient-used-as-background-studio-wall-display-your-products_1258-54562.jpg?size=626&ext=jpg&ga=GA1.1.2065947858.1697211183&semt=ais"); */
    background-size: cover;
    
}
